<div id="container">
  <div id="header">
    <%= link_to 'Twitterアカウントでログイン', '/auth/twitter' %>
  </div>
  <div id="wrapper">
    <div id="boxA">
      <%= form_tag :rakuten_search, method: :get do  %>
        <%= label_tag :keyword, 'キーワード検索' %>
        <%= text_field_tag 'keyword', params[:keyword] %>
        <%= submit_tag "検索" %>
      <% end %>
      <% if @trends.present? %>
        <h2>トレンド</h2>
        <ul>
          <% @trends.each_with_index do |trend, i| %>
            <div class="list">
              <li> <%= link_to trend.name, rakuten_search_path(keyword: trend.name) %> </li>
            </div>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div id="boxB">
      <% if @tweets.present? %>
        <b>検索結果</b>
        <ul>
          <% @tweets.each_with_index do |tweet, i| %>
            <div class="list">
              <li>Tweet<%= i %>: <%= tweet.contents %> </li>
            </div>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div id="boxC">
      <% if @items.present? %>
        <table>
          <tbody>
            <thead>
              <tr>
              <th>商品画像</th>
              <th>商品名</th>
              <th>価格</th>
              </tr>
            </thead>
            <% @items.each do |item| %>
              <tr>
                <td><%= image_tag item["smallImageUrls"][0] %></td>
                <td><%= link_to truncate(item.name, length: 50 ), "#{item.url}" %></td>
                <td align="right"><%= number_with_delimiter(item.price) %>円</td>
                <td><%= link_to rakuten_search_path do %>
                  <%= image_tag 'icons/heart-black.png', class: 'topic-index-icon' %></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div id="footer">
    E（フッタ）
  </div>
</div>
