<div id="container">
  <div id="header" class="header_logo">
    <ul>
      <li id="logo">
      <%= link_to root_path do %>
      <%= image_tag 'icons/urge_logo.png', class: 'urge_logo' %></li>
      <% end %>
      <% if logged_in? %>
        <li align="center"><%= link_to 'お気に入り一覧', root_path %></li>
        <li align="center"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
      <% else %>
      <br>
        <li align="center"><%= link_to 'Twitterアカウントでログイン', '/auth/twitter' %></li>
      <% end %>
    </ul>
  </div>
  <div id="wrapper">
    <div id="boxA">
      <br>
      <%= form_tag :rakuten_search, method: :get do  %>
        <%= label_tag :keyword, '' %>
        <%= text_field_tag 'keyword', params[:keyword] %>
        <%= submit_tag "検索" %>
      <% end %>
      <% if @trends.present? %>
        <ul>
          <% @trends.each_with_index do |trend, i| %>
            <div class="list">
              <li> <%= link_to trend.name, rakuten_search_path(keyword: trend.name) %> </li>
            </div>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div id="boxB">
      <% if @tweets.present? %>
        <b>検索結果</b>
        <ul>
          <% @tweets.each_with_index do |tweet, i| %>
          <div class="search-list">
             <li><%= tweet.contents %></li>
             <li><%= image_tag @t_image[i], style: 'height:auto%;width:100%;' if !@t_image[i].nil? %></li>
           </div>
          <% end %>
        </ul>
      <% else %>
        <h2 class="texit_white">検索結果がありません</h2>
      <% end %>
    </div>

    <div id="boxC">
      <% if @items.first.present? %>
        <table>
          <tbody>
            <thead>
              <tr id=texit_white>
              <th><nobr>商品画像</nobr></th>
              <th align="center">商品名</th>
              <th>価格</th>
              </tr>
            </thead>
            <% @items.each do |item| %>
              <tr>
                <td><%= image_tag item["smallImageUrls"][0] %></td>
                <td id=item_link><%= link_to truncate(item.name, length: 50 ), "#{item.url}" %></td>
                <td id=texit_white align="right"><%= number_with_delimiter(item.price) %>円</td>
                <% if logged_in? %>
                  <% if favorited? item.code %>
                    <td>
                    <%= image_tag 'icons/heart-red.png', class: 'topic-index-icon' %></td>
                  <% else %>
                    <td><%= link_to favorites_path(rakutenitem_id: item.code, item_name: item.name, item_url: item.url, itemimage_url: item["smallImageUrls"][0]), method: :post do %>
                    <%= image_tag 'icons/heart.png', class: 'topic-index-icon' %></td>
                  <% end %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h2　class="texit_white">検索結果がありません</h2>
      <% end %>
    </div>
  </div>
  <div id="footer">
    <br>
    <br>
    <p id=texit_white align="center">Copyright © <%= Date.today.year %> Urge Inc. All rights reserved.</p>
  </div>
</div>
